.Application {
    margin: 0px;
    border: 0px; 
    padding: 0px; 
    background-color: orange;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Non-Header_Components {
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    display: inline-flex;
    background-color: blueviolet;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.TheHeader {
    margin: 0px; 
    border: 0px; 
    padding: 0px; 
    display: inline-flex;
    width: 100%; 
    height: 10%; 
    background-color: cornflowerblue; 
    overflow: hidden;
}